@media screen and (max-width: 1920px) and (max-height: 1080px)
    {
        .table1
        {
            background: rgb(0, 0, 0);
            border: 0.2vw solid black;
            height: 5vw;
            margin: -0.44vw -0.44vw 0 -0.44vw;
            width: 100vw;
        }
        .Financia_box
        {
            border: 0.2vw solid red;
            text-align: center;
            width: 15vw;
        }
        .Financia
        {
            font: normal normal 800 2vw Arial;
            text-decoration: none;
            color: rgb(138, 36, 234);
        }
    }